<p id="notice"><%= notice %></p>

<h1>Simulacoes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Nome da empresa</th>
      <th>Faturamento</th>
      <th>Valor do titulo</th>
      <th>Prazo ate atendimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulacoes.each do |simulacao| %>
      <tr>
        <td><%= simulacao.nome %></td>
        <td><%= simulacao.email %></td>
        <td><%= simulacao.nome_da_empresa %></td>
        <td><%= simulacao.faturamento %></td>
        <td><%= simulacao.valor_do_titulo %></td>
        <td><%= simulacao.prazo_ate_atendimento %></td>
        <td><%= link_to 'Show', simulacao %></td>
        <td><%= link_to 'Edit', edit_simulacao_path(simulacao) %></td>
        <td><%= link_to 'Destroy', simulacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulacao', new_simulacao_path %>
